body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1,
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
  }
  #rating-form{
    padding-top: 20px;
  }

  .vi{
    background-color: rgba(50, 112, 39, 0.651);
    height: 70px;
    color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
  
  .form-group {
    display: flex;
    margin-bottom: 15px;
  }
  .form-group label{
    width: 30%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="date"],
  input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  select {
    padding: 10px;
    border: 1px solid #ccc;
  }

  button{
    color: #ffffff;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(24, 159, 15);
    width: ;
  }